@import url('https://fonts.googleapis.com/css2?family=Inknut+Antiqua:wght@500&display=swap');

.test {
    border: 2px black solid;
}


html{
    scroll-behavior: smooth;
}

*{
    margin: 0;
    padding: 0;
    font-family: 'Inknut Antiqua', serif;
}


section .main .main_content{
    display: flex;
    align-items: center;
    justify-content: space-around;
}

section .main .main_content .main_text h1{
    font-size: 90px;
    line-height: 70px;
    font-family: pyxidium quick;
    background: linear-gradient(to right, #c72092,#6c14d0);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    position: relative;
    top: 45px;
    left: 5%;
}

section .main .main_content .main_text h1 span{
    font-size: 70px;
    background: linear-gradient(to right, #c72092,#6c14d0);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

section .main .main_content .main_text p{
    width: 600px;
    text-align: justify;
    line-height: 21px;
    position: relative;
    top: 85px;
    left: 5%;
}

section .main .main_content .main_image img{
    width: 650px;
    position: relative;
    left: 20px;
    top: 75px;
}

section .main .social_icon{
    position: absolute;
    top: 50%;
    left: 98%;
    transform: translate(-50%,-50%);
    font-size: 19px;
}

section .main .social_icon i{
    margin: 8px 0;
    cursor: pointer;
    transition: 0.3s;
}

section .main .social_icon i:hover{
    color: #c72092;
}

section .main .button{
    position: absolute;
    left: 6%;
    padding: 10px 20px;
    border-radius: 30px;
    background: linear-gradient(to right,#c72092 , #6c14d0);
}

section .main .button a{
    color: white;
    text-decoration: none;
}

section .main .button i{
    color: white;
    margin-left: 5px;
    transition: 0.3s;
}

section .main .button:hover i{
    transform: translateX(6px);
}



/*Products*/

.product h3{
    font-size: 20px;
    font-weight: 400;
}

.product .card img {
    width: 250px;
    height: 260px;
    margin: 0 auto;
}

.product .card p{
    font-size: 20px;
    font-weight: 400;
    color: #999999;
}


.product a{
    color: black;
    text-decoration: none;
    outline: none;
}

.product .btn{
    background-color: #D7B19D;
    font-size: 22px;
    font-weight: 400;
}



#Top{
    background-color: #C68B59;
    max-height: 45px;
}

#Top h3{
    font-family: 'Inknut Antiqua', serif;
    font-size: 16px;
    font-weight: 400;
}

#Top p{
    font-size: 16px;
    font-weight: 400;
}

.navbar{
    max-height: 100px;
}


.navbar a{
    max-height: 90px;
}
.navbar .logo{
    max-width: 250px;
    height: auto;
}

.navbar input{
    border: 1px #C68B59 solid;
}


#img-slider .btn{
    background-color: #D7B19D;
    font-size: 22px;
    font-weight: 400;
}

#img-slider h3{
    font-size: 20px;
    font-weight: 400;
}


#profile a:hover,
#profile a:active,
#profile a:focus {
    outline: none;
    text-decoration: none;
}

#profile h1{
    font-size: 40px;
    font-weight: 400;
}

#profile a{
    text-decoration: none;
    color: black;
}

#profile h4{
    color: #fff;
    font-size: 20px;
    font-weight: 400;
    max-width: 400px;
    margin: 0 auto;
}

#profile .left p{
    max-width: 400px;
    margin: 0 auto;
}

#profile .right p{
    padding-top: 15px;
    padding-left: 20px;
    height: 55px;
}

/* ====== New Arrival ====== */

#new-arrival .title{
    font-size: 27px;
    font-weight: 400;
}

#new-arrival .card img {
    width: 250px;
    height: 260px;
    margin: 0 auto;
}

#new-arrival .card p{
    font-size: 20px;
    font-weight: 400;
    color: #999999;
}


#new-arrival a{
    color: black;
    text-decoration: none;
    outline: none;
}

#about h1{
    font-size: 40px;
    font-weight: 400;
}


#about p{
    line-height: 50px;
}


#detail-prod .price{
    color: #999999;
    font-size: 20px;
    font-weight: 400;
}

#detail-prod a{
    color: black;
    text-decoration: none;
    outline: none;
}

#detail-prod p{
    line-height: 40px;
}

#detail-prod .size {
    font-size: 20px;
}

#contact p{
    line-height: 40px;
    font-size: 15px;
    color: #454545;
}


/*Footer*/

footer{
    width: 100%;
}

footer .footer_main{
    width: 100%;
    background: #C68B59;
    display: flex;
    justify-content: space-around;
}

footer .footer_main p{
    font-size: 17px;
    font-weight: 300;
}

footer .footer_main .tag .center{
    text-align: center;
}

footer .footer_main h1{
    font-size: 20px;
    font-weight: 700;
}

footer a{
    color: #fff;
    text-decoration: none;
    outline: none;
    font-size: 17px;
    font-weight: 300;
}
